html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	font-size: 1em;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-flow: row wrap; 
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 2.375em 0;
	border-bottom: 3px solid #77a466; 
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 2.875em 0;
	width: 100%;
}

ul {
	list-style: none;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 1.6em 1.6em;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	align-items: center;
}

.main-image img {
	width: 100%;
	border-bottom: 0.188em solid #77a466;
}

.main-title h2 {
	text-align: left;
	padding: 0.313em 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.563em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 0.063em solid #eee;
}



.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.313em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}


/*The widths are in a percentage!*/
footer {
	border-top: 0.188em solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */

	bottom-section {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-basis: 30%;
	}
	
 
@media only screen and (min-width: 1200px) {
    header {
        justify-content: space-between;
    }

    header h1 {
        width: 30%;
        padding: 0;
        border-bottom: none;
        text-align: left;
    }

    header nav {
        width: 40%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

}